h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #122C34;
}
body{
    background-color: #224870;
}
ol{
    color: #44CFCB;
}
a{
    color: #44CFCB;
    padding-bottom: 10px;
}